<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>867414252909-6q3p5v0cdd943f8kj02h6ns22e4l4726.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.867414252909-6q3p5v0cdd943f8kj02h6ns22e4l4726</string>
	<key>API_KEY</key>
	<string>AIzaSyDd_0SalGYQ-eZQVaxOj1XQ1ddzmnBSY68</string>
	<key>GCM_SENDER_ID</key>
	<string>867414252909</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ecgriffin.SeatGeekHub</string>
	<key>PROJECT_ID</key>
	<string>seatgeekhub</string>
	<key>STORAGE_BUCKET</key>
	<string>seatgeekhub.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:867414252909:ios:5e91f786a07adbfb4d8e64</string>
</dict>
</plist>
